body {
	font-size: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Colors */
.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF4081; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.darkblue-text-color    { color: #0288D1; }
.blue-text-color { color: #03A9F4; }
.divider-color         { border-color: #B6B6B6; }
/* Colors */

/* Bootstrap overides */
.square{
    border-radius: 0 !important;
}
/* Bootstrap overides */

.bold {
    font-weight: bold;
}

.nav-ion {
    font-size: 3rem;
}

vr {
    border-left: 1px solid #000;
    padding: 8px 5px 0px 5px;
    margin-left: 3px;
    font-size: 2rem;
}

#header-row {
    min-height: 300px;
    overflow: hidden;
    background: url("../assets/hero.jpg");
    background-size: cover;
}
/* Gallery Styling */


article h1:after {
    background-color: black;
    position: absolute;
    bottom: -4px;
    height: 1px;
    content: '';
    width: 75px;
    display: block;
}

article.gallery_image {
    /*padding: 1rem;*/
    /*border: 1px solid;*/
}
article.gallery_image:hover {
    /*padding: 0.8rem;*/
    /*background-color: gray;*/
}

article header h1 {
    font-size: 1.4rem;
}

article footer p {
    font-size: 1rem;
}
/* Gallery Styling */