body {
    font-size: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Colors */
.dark-primary-color {
    background: #0288D1;
}

.default-primary-color {
    background: #03A9F4;
}

.light-primary-color {
    background: #B3E5FC;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FF4081;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #727272;
}

.darkblue-text-color {
    color: #0288D1;
}

.blue-text-color {
    color: #03A9F4;
}

.divider-color {
    border-color: #B6B6B6;
}
/* Colors */

/* Bootstrap overides */
.square {
    border-radius: 0 !important;
}

body {
    padding-top: 0px;
}

.navbar {
    min-height: 50px;
    margin-bottom: 0px;
}
/* Bootstrap overides */

/* Utilities */
.bold {
    font-weight: bold;
}

.shadow {
    text-shadow: 1px 1px 1px #000;
}
/* Utilities */

section {
    /*min-height: 30vh;*/
/*  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;*/

}

.nav-ion {
    font-size: 3rem;
}

#header-row {
    min-height: 10vh;
    overflow: hidden;
    background: url("../assets/hero.jpg");
    background-size: cover;
}

/* Gallery Styling */
article h1:after {
    bottom: -4px;
    height: 1px;
    width: 75px;
}

article header h1 {
    font-size: 2.6rem;
}

article footer p {
    font-size: 2rem;
}
/* Gallery Styling */

/*.owl-item.animated {
    visibility: visible;
}*/